
html{
    font-family: "M PLUS Rounded 1c";
    margin: 0;
    padding: 0; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* vertical centering */
    align-items: center;       /* horizontal centering (if you want it) */
}





#cardContainer{
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 180px );
    grid-template-rows: repeat(3, 180px);
}

.card{
    height: 180px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.card-stamp{
   scale:0.15;

}

.card.flipped
{
    transform: rotateY(180deg);
}

.front, .back{
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.back{
    background-color: white;
   background-image: url(card-images/kittykittystampcard.png);
    background-size: cover;
}

.front{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    background-color: white;
    background-image: url(card-images/kittykittycardfront.png);
    background-size: cover;
}

#kittykitty{
    display: block;
    margin: auto;
    height: 100px;
    transform: rotate(-1deg);
    margin-top: 10px;
}

.hidden{
    opacity: 0;
}

#exit{
    margin-top: 20px;
    font-family: "Special Elite";
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 10px;
    text-align: center;
    color: white;
    background-color: #A70000;
    font-size: 20px;
}

#exit:hover{
    background-color: #540303;
    color: grey;
}

#stats{
    margin-top: 30px;
    display:flex;
    font-family: "Special Elite";
    
}

#matches{
    
    background-color: black;
    height: 40px;
    width: 180px;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-right: 20px;
    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
    font-size: 20px;
}

#pairsLeft{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-right: 20px;
        display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
    font-size: 20px;
}

#timer{
    position: absolute;
   font-family: "Special Elite";
    color: #e30000;
    top: 120px;
    font-size: 30px;
}

@keyframes shake {
    0%{transform: rotateY(0deg)};
    25%{transform: rotateY(-30deg)};
    50%{transform: rotateY(0deg)};
    75%{transform: rotateY(30deg)};
    100%{transform: rotateY(0deg)};
}