
html{
    font-family: "M PLUS Rounded 1c";
    margin: 0;
    padding: 0; 
    color: white;
    background-color: rgb(27, 27, 27);
}

body {
   margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* vertical centering */
    align-items: center;       /* horizontal centering (if you want it) */
}





#cardContainer{
    margin-top: 45px;
    display: grid;
    justify-content: center;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 180px );
    grid-template-rows: repeat(3, 180px);
}

.card{
    height: 180px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.card-stamp{
   scale:0.15;

}

.card.flipped
{
    transform: rotateY(180deg);
}

.front, .back{
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.back{
   background-color: rgb(27, 27, 27);
   background-image: url(card-images/kittykittystampcard.png);
    background-size: cover;
}
#heading{
    margin-top: 25px;
    font-family: "Special Elite";
    font-size: 20px;
}

.front{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    background-color: rgb(27, 27, 27);
    background-image: url(card-images/kittykittycardfront.png);
    background-size: cover;
}

#kittykitty{
    display: block;
    margin: auto;
    height: 100px;
    transform: rotate(-1deg);
    margin-top: 10px;
}



#stats{
    margin-top: 30px;
    display:flex;
    font-family: "Special Elite";
    
}

#matches{
    
    background-color: black;
    height: 40px;
    width: 180px;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-right: 20px;
    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
    font-size: 20px;
}

#pairsLeft{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-right: 20px;
        display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
    font-size: 20px;
}

#timer{
    position: absolute;
   font-family: "Special Elite";
    color: #e30000;
    top: 180px;
    font-size: 30px;
}

.overlay{
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
}

.win{
    text-align: center;
    font-family: "Special Elite";
    font-size: 20px;
    color: black;
    z-index: 1;
    position: absolute;
    background-color: rgb(212, 212, 212);
    height: 400px;
    width: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;

}

#playAgain{
    font-family: "Special Elite";
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 10px;
    text-align: center;
    color: white;
    background-color: #A70000;
    font-size: 20px;
}

#playAgain:hover{
        background-color: #540303;
    color: grey;
}

#gg{
    font-size: 25px;

}

#fin{
    font-size: 30px;
    color: rgb(143, 0, 0);
    width: 400px;
}