
html{
    font-family: "M PLUS Rounded 1c";
    margin: 0;
    padding: 0;
}
#cardContainer{
    height: 600px;
    width: 760px;
    margin: auto;
}

#kittykitty{
    display: block;
    margin: auto;
}

#hidden{
    display:none;
}

#exit{
    all: unset;
    font-family: "M PLUS Rounded 1c";
    background-image: linear-gradient(0deg,#1C0188, #7F66E4 );
    height: 46px;
    width: 118px;
    border-radius: 21px;
    text-align: center;
    color: white;
    font-size: 24px;
}

#stats{
    display:flex;
}

